@charset "utf-8";
body {
	padding: 0px;
	margin: 0px;
	background: #FFF url(images/img_new/banner_eicena.png) no-repeat top center;
	font-family: 'Open Sans', sans-serif;
	padding-bottom: 25px;
	background-size: 100% 510px;
}
div#nav {
	width: 960px;
	height: 71px;
	background: url(images/navigation.jpg);
	/* border-bottom: 10px solid #FFF; */
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.mlr {
	margin: 10px 15px;
}
#comitecient {
	margin-left: 0px;
	padding-left: 0px;
	list-style-type: none;	
}
#comitecient li {
	border-bottom: 1px dashed #ccc;
	padding-bottom: 5px;
	margin-bottom: 10px;

}
#comitecient li i {
	font-size: 0.9em;
}

.sec-01 {
	background-position: 0px 0px !important;
}
.sec-02 {
	background-position: 0px -71px !important;
}
.sec-03 {
	background-position: 0px -142px !important;
}
.sec-04 {
	background-position: 0px -213px !important;
}
.sec-05 {
	background-position: 0px -284px !important;
}
a.nav-btn {
	width: 192px;
	height: 71px;
	float: left;
	display: block;
}
div#page {
	position: relative;
	width: 960px;
	margin: 350px auto 0px;
	padding-bottom: 30px;
	height: auto;
	background: #FFF;
	padding-top: 10px;
}
#form-btn {
	position: absolute;
	top: 550px;
	left: 15px;
}
#zonap-btn {
	width: 420px;
	height: 15px;
	background: none;
	position: absolute;
	top: 452px;
	left: 35px;
	display: block;
	cursor: pointer;
}
div#footer {
	width: 100%;
	height: 30px;
	margin: 10px auto;
	text-align: center;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 13px;
	color: #333;
	border-top: 1px dashed #CCC;
	padding: 20px 0px;
	margin-bottom: 25px !important;
}
div.clear {
	clear: both;
}
#pg-left {
	width: 530px;
	height: auto;
	float: left;
	padding: 0px 15px;
}
#pg-right {
	width: 400px;
	height: auto;
	float: right;
}
h1.subt {
	width: 100%;
	background: url(images/h1.jpg) repeat-x;
	margin: 15px 0px;
	padding: 0px;
	color: #186639;
	line-height: 18px;
	font-size: 18px;
}
h1.subt span {
	background: #FFF;
	padding-right: 5px;
}
h1.subtgre {
	width: 100%;
	background: #c95b10 !important;
	margin: 15px 0px;
	padding: 7px;
	color: #fff;
	line-height: 18px;
	font-size: 18px;
}
div.pgc {
	font-size: 15px;
	color: #212121;
	text-align: justify;
	margin: 10px 0px;
	font-weight: 400;
}
div.pgc b {
	font-weight: 700;
}
div.pgc a {
	font-weight: 700;
	color: #007b44;
}
div.clockc {
	text-align: center !important;
	margin: 10px 0px;
}
.clock {
	text-align: center;
}
ul.inp {
    list-style: none;
    padding:0;
    margin: 10px 0px 15px 0px;
}
ul.inp li {
	text-align: left;
	font-size: 15px; 
    padding-left: 0px;
    text-indent: -.7em;
}
ul.inp li:before {
    content: "» ";
    color: #848484;
}
.greyc {
	color: #959595;
}
  #invitados {
    padding: 0px 15px;
  }
  .invitadobox {
    width: 100%;
    float: left;
    height: auto;
    padding-right: 10px;
  }
  .invitadopic {
    width: 90px;
    height: 90px;
    margin-right: 10px;
  }
  .invitadoinfo {
    margin-top: 7px;
  }
  .invitadoinfo a {
    font-size: 0.9em;
  }
  .clear {
    clear: both;
  }
  .nopb {
  	margin-bottom: 10px !important;
  	margin-top: 10px !important;
  }
  /* Bootstrap */
  #btp-page {
	margin-top: 440px !important;
  }
  #btp-menu, #btp-menu-foo {
  	width: 100%;
  	margin-top: 20px;
  }
  #btp-menu a {
  	display: inline-block;
  	height: 50px;
  	line-height: 35px;
  	width: 20% !important;
  }
   #btp-menu-foo a {
  	display: inline-block;
  	height: 50px;
  	line-height: 35px;
  	width: 50% !important;
  	margin-bottom: 25px;
  }
  #programaciontable {
  	text-align: center;
  }
  .trtitlea {
  	background-color: #007642 !important;
  	font-weight: bold;
  	color: #fff;
  }
  .label {
  	cursor: pointer;
  }
  .nomb {
  	margin-bottom: 0px !important;
  }
  .taleft {
  	text-align: left;
  }
  .btn-sm {
  	margin-top: 10px !important;
  }
  .labelprev {
  	margin-bottom: 15px !important;
  }
  .popcontentmin {
  	text-align: center !important;
  }
  #btp-menu .btn-danger, .btn-newgreen {
  	background-color: #319a5d;
  	border-color: #27804c;
  }
 .slider-bottom {
  	text-align: center;
  	width: 100%;
  	margin-top: 10px;
  	font-style: italic;
  	font-size: 0.9em;
  }
  .moreoran {
  	background-color: #c95b10 !important;
  	color: #fff !important;
  	font-weight: bold;
  }
  td {
  	vertical-align: middle !important;
  }